+++
title = "YMCA Website Services Docs"
linkTitle = "YMCA Website Services Docs"

+++

{{< blocks/cover title="Welcome to the YMCA Digital Services Documentation" image_anchor="top" height="med" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary me-3 mb-4" href="{{< relref "/docs" >}}">
		Read the Docs<i class="fas fa-arrow-alt-circle-right ms-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/YCloudYUSA/yusaopeny-project#installation">
		Install YMCA Website Services <i class="fab fa-github ms-2 "></i>
	</a>
	<p class="lead mt-5"></p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
YMCA Website Services is a digital transformation platform for YMCAs.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="row">}}

{{% blocks/feature icon="fa-user-friends" title="Visit the message board!" %}}
Get updates and ask questions.

[Join the community...](/community)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/YCloudYUSA/yusaopeny" %}}
YMCA Website Services is open source! Dig into the code on GitHub.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Join the conversation!" %}}
Hop into our Slack team to chat with developers, implementers, decision-makers, and more.

[<i class="fas fa-envelope"></i> Email us to request access...](<mailto:ycloud@ymca.net?subject=Slack Access Request>)
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
<a href="https://www.netlify.com"> <img src="https://www.netlify.com/v3/img/components/netlify-dark.svg" alt="Deploys by Netlify" /> </a>{{% /blocks/lead %}}
