{{/* Fetch a remote markdown file  and include it in the page. If the file has a frontmatter, define the marker of the frontmatter in the second parameter (defaults to "---"). If the content after the frontmatter includes the marker (for example, includes "---" as part of a markdown-formatted table) the content included will be incomplete. */}}
{{ $url := .Get 0 }}
{{ $marker := .Get 1 | default "---" }}

{{/* Do not change the indentation of the following block. */}}
{{ with resources.GetRemote $url }}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}
{{/*  Test for frontmatter. */}}
{{ if hasPrefix .Content $marker }}

{{/* Split the content at the first marker. */}}
{{ $split := split .Content $marker }}

{{/* Rejoin the content after the first split, so we don't accidentally truncate tables or other content with similar strings. */}}
{{ $content := delimit (after 1 $split) $marker }}

{{/*  Output stuff after the frontmatter if a frontmatter was detected. */}}
{{- $content -}}
{{ else }}
{{/*  Output the content of the file if no frontmatter was detected. */}}
{{- .Content -}}
{{ end }}
{{ end }}
{{ else }}
{{ errorf "Unable to get remote resource %q" $url }}
{{ end }}
